body{
    background-image: url("images/blue/bluebackground.png");
    font-family: 'MyWebFont'
}

p{
    padding-top: 1em;
    padding-bottom: 1em;
}

#topBar{
    background-position: center;
    text-align: center;
    color:white;
    background-color: 000000;
}

article{
    background-color: floralwhite;
    padding: 1%;
}

nav ul{
    background-color: #17a934;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    padding: 0%;
}

nav li{
    list-style-type: none;
    margin: 0;
}

nav li>a{
    padding: 2em;
    background-color: #17a934;
    color: white;
    text-decoration: none;
    display: block;
}

nav li>a:hover{
    background-color: #1cd140;
}

.menu{
    text-align: center;
    background-color: #17a934;
}

.social{
    width: 8%;
    height: 6%;
}

@font-face {
    font-family: "MyWebFont";
    src: url(font/PressStart2P-Regular.ttf);
}